:root {
    --airbnb_red: #ec6664;
    --airbnb_pink: #ec6564;
    --airbnb_purple: #c62c66;
    --airbnb_green: #398287;
    --dark-gray: #484848;
    --gray: #767676;
    --white: #fff;
  }
  
  .header__wrapper {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--white);
    color: var(--dark-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .cols__container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    min-width: 50vw;
    max-width: 2000px; /* Add this line to set the max-width */
    margin: 0 auto; 
    padding: 20px;
  }
  
  .left__col {
    flex: 6; /* Updated from 2 */
    background-color: var(--white);
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .right__col {
    flex: 12; /* Updated from 4 */
    background-color: var(--white);
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  
  .img__container {
    position: relative;
    width: 100%;
    height: auto;
  }
  
  .img__container img {
    width: 75%;
    height: auto;
    border-radius: 5px;
  }
  
  .img__container span {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 14px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .about {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 20px;
  }
  
  .about li {
    margin-bottom: 10px;
  }
  
  .update-profile {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px;
    background-color: var(--airbnb_red);
    color: var(--white);
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .update-profile:hover {
    background-color: var(--airbnb_purple);
  }
  
  .review-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 20px;
  }
  
  .review-list li {
    margin-bottom: 10px;
  }
  
  .review-list p {
    margin-bottom: 10px;
  }
  
  .truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  #rev {
    font-weight: bold;
    font-size: 1.5em;
    color: var(--dark-gray);
    margin-bottom: 20px;
  }
  