root {
    --airbnb_red: #ec6664;
    --airbnb_pink: #ec6564;
    --airbnb_purple: #c62c66;
    --airbnb_green: #398287;
    --dark-gray: #484848;
    --gray: #767676;
    --white: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.logo {
    position: absolute;
    top: 5%;
    width: 15rem;
    height: auto;
}

.body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(120deg, var(--airbnb_red), var(--airbnb_purple));
}

.host-profile-update-form {
    position: relative;
    max-width: 900px;
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    margin: 15vh auto;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.host-profile-update-form header{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #333;
}

.host-profile-update-form header::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 27px;
    border-radius: 8px;
    background-color: var(--airbnb_pink);
}

.host-profile-update-form form{
    position: relative;
    margin-top: 16px;
    min-height: 200px;
    background-color: #fff;
    overflow: hidden;
}

.host-profile-update-form form .title{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    color: #333;
}

.host-profile-update-form form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.host-profile-update-form form .fields .input-field{
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
}

.host-profile-update-form .input-field label{
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
}

.host-profile-update-form .input-field input, select{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}

.host-profile-update-form .input-field-file label {
    font-size: 12px;
}

.host-profile-update-form .input-field-file input {
    font-weight: 400;
    font-size: 12px;
    color: var(--dark-gray);
    border-radius: 5px;
    padding-left: 10px;
    height: 42px;
}

.host-profile-update-form form button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px 0;
    background-color: var(--airbnb_purple);
    transition: all 0.1s;
    cursor: pointer;
}

.host-profile-update-form form .btnText{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.host-profile-update-form form button:hover{
    background-color: var(--airbnb_red);
}

.host-profile-update-form form button i {
    margin: 0 6px;
}

.host-profile-update-form form .buttons{
    display: flex;
    align-items: center;
}

.host-profile-update-form form .buttons button{
    margin-right: 14px;
}

@media (max-width: 750px) {
    .host-profile-update-form form{
        overflow-y: scroll;
    }
    .host-profile-update-form form .fields .input-field{
        width: calc(100% / 2 - 15px);
    }

    .logo {
        position: absolute;
        top: 5%;
        width: 15rem;
        height: auto;
    }
}

@media (max-width: 550px) {
    .host-profile-update-form form .fields .input-field{
        width: 100%;
    }

    .logo {
        position: absolute;
        top: 3%;
        width: 15rem;
        height: auto;
    }
}
